!!! 5
%html
  %head
    %title IndexedDB zipper

  %body
    %button#create Create test data
    %button#download Download structure
    %button#drop Drop
    %button#restore Restore

    %br

    %label
      JSON string
      %input#json{ type: 'text' }

    %hr

    .data

    %script{ :src => 'js/jquery-2.0.3.js'}
    %script{ :src => 'js/common.js'}
    %script{ :src => 'js/populate.js'}
    %script{ :src => 'js/download.js'}
    %script{ :src => 'js/download_structure.js'}
    %script{ :src => 'js/events.js'}
    %script{ :src => 'js/restore.js'}
