!!! 5
%html
  %head
    %title IndexedDB zipper

  %body
    %button#create Create test data
    %button#print Print
    %button#download Download

    %hr

    .data

    %script{ :src => 'js/jquery-2.0.3.js'}
    %script{ :src => 'js/common.js'}
    %script{ :src => 'js/populate.js'}
    %script{ :src => 'js/print.js'}
    %script{ :src => 'js/download.js'}
    %script{ :src => 'js/events.js'}
